* {
    font-family: "Poppins", sans-serif;
}
body {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 150px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.right-links {
    list-style-type: none;
    display: flex;
    gap: 32px;
}

a {
    text-decoration: none;
    color: white;
}

.hero {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    padding: 4em 13em;
    gap: 2em;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.signup-btn {
    color: white;
    background-color: #3882f6;
}
