* {
    font-family: "Poppins", sans-serif;
}
body {
    padding: 0;
    margin: 0;
}

/* ========Styles for navbar elements======== */

.navbar {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 150px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.right-links {
    list-style-type: none;
    display: flex;
    gap: 32px;
}

a {
    text-decoration: none;
    color: white;
}

/* ========Styles for hero elements======== */

.hero {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    padding: 4em 13em;
    gap: 3em;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    line-height: 1.15;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.signup-btn {
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: #3882f6;
    padding: 6px 30px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.hero-image {
    height: 270px;
}

/* ========Styles for information elements======== */

.information {
    margin: 48px 0;
}
.information-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    margin-bottom: 52px;
}

.img-row {
    display: flex;
    gap: 48px;
    justify-content: center;
}

.img-card {
    width: 180px;
    display: flex;
    flex-direction: column;
}

.img-card img {
    align-self: center;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 25px;
}

.img-card p {
    text-align: center;
}

/* ========Styles for quote-section elements======== */
.quote-section {
    background-color: #e5e7eb;
    padding: 5em 15em;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.customer {
    display: flex;
    font-size: 22px;
    font-weight: 600;
    flex-direction: row-reverse;
}

/* ========Styles for action-section elements======== */
.action-section {
    background-color: #3882f6;
    color: white;
    width: 70%;
    height: auto;
    margin: 50px auto;
    padding: 40px 0;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.action-header {
    font-size: 22px;
    font-weight: bold;
}

.btn-action-signup {
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: #3882f6;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    flex-shrink: 0;
    padding: 6px 30px;
}
